/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --sidebar-bg-color: #051e34;
    --header-height: 70px;
    --badge-custom: #165bba;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
header{
    height: var(--header-height);
    width: 100%;
}
header a{
    text-decoration: none;
}
.wrapper{
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
}
#sidebar{
    height: 100%;
    width: 220px;
    background-color: var(--sidebar-bg-color);
    background-image: url("../assets/img/sidebar-bg.png");
}
main{
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
table img{
    width: 30px;
}
th[scope="row"]{
    width: 55%;
}
header form{
    flex-grow: 1;
}
.ct-badge-custom{
    background-color: var(--badge-custom);
    color: white;
    border-radius: 30px;
    font-weight: 300;
    padding: 5px 10px;
}
aside h3{
    display: inline-block;
}
#sidebar a:hover{
    background-color: rgba(255, 255, 255, 0.555);
}
.offcanvas{
    width: 60%!important;
    max-width: 800px;
}

@media screen and (max-width: 768px){
    aside button{
        margin-top: 0.5rem;
    }
    aside>div>div{
        gap: 0.5rem;
        flex-flow: column-reverse;
    }
    aside>div>div>div:last-child>div{
        flex-flow: column-reverse;
        gap: 1rem;
    }
    .offcanvas{
        width: 100%!important;
    }
}
@media screen and (max-width: 992px){
    #faq-container{
        margin-bottom: 1.5rem;
    }
    table tr td:last-child{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
    .ct-hide{
        display: none;
    }
}