/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --sidebar-bg-color: #051e34;
    --header-height: 70px;
    --badge-custom: #165bba;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
header{
    height: var(--header-height);
    width: 100%;
}
header a{
    text-decoration: none;
}
.wrapper{
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
}
#sidebar{
    height: 100%;
    width: 220px;
    background-color: var(--sidebar-bg-color);
    background-image: url("../assets/img/sidebar-bg.png");
}
main{
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}
table img{
    width: 30px;
}
th[scope="row"]{
    width: 55%;
}
header form{
    flex-grow: 1;
}
.ct-badge-custom{
    background-color: var(--badge-custom);
    color: white;
    border-radius: 30px;
    font-weight: 300;
    padding: 5px 10px;
}
aside h3{
    display: inline-block;
}

/*****************************************************************/
/*************************** TO REMOVE ***************************/
/*****************************************************************/
.debug{
    border: 2px solid black;
}